*{
	font-family: 'Source Sans Pro', sans-serif;
	background: url("back1.png");
	text-align: center;
}
h1{
	color: #fff;
	font-size: 40px;
	letter-spacing: 2px;
	background: none;
}
.details{
	width: 50%;
	height: 100%;
	background: none;
	position: absolute;
	text-align: left;
	padding-top: 50px;
}
.title{
	color: #fff;
	background: none;
	font-size: 25px;
	letter-spacing: 2px;
	line-height: 80px;
}
.info{
	color: rgba(255,255,255,0.60);
}
.from{
	background: none;
}
a{
	text-decoration: none;
    color: #fff;
	font-size: 20px;
	letter-spacing: 2px;
}
.align_C{
	float: left;
	width: 50%;
}
.align_W{
	float: right;
	width: 50%;
}
.message{
	width: 49%;
	height: 100vh;
	float: right;
	background: lightgray;
	overflow: auto;
}
.my_message {
	background: rgba(3,145,196,1.00);
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	display: inline-block;
	border-radius: 10px;
	margin-left: -80%;
	padding: 7px;
	color: #fff;
	width: auto;
	margin-top: 5px;
}
.my_message:before {
	content: "";
	position: absolute;
	right: 100%;
	top: 7px;
	border-top: 1px solid transparent;
	border-right: 26px solid rgba(3,145,196,1.00);
	border-bottom: 16px solid transparent;
}
.your_message {
	background: rgba(3,145,196,1.00);
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	display: inline-block;
	border-radius: 10px;
	padding: 7px;
	color: #fff;
	margin-top: 5px;
}
.your_message:before {
	content: "";
	position: absolute;
	left: 100%;
	top: 7px;
	border-top: 1px solid transparent;
	border-left: 26px solid rgba(3,145,196,1.00);
	border-bottom: 16px solid transparent;
}
.message a{
	font-size: 15px;
}
.right{
	background: none;
	float: right;
	margin-left: -100%;
	margin-right: 28px;
}
.btn a{
	background: none;
}
.btn{
	background: rgba(8,193,223,0.45);
	border: none;
	width: 75%;
	margin-left: 10%;
}
.btn:hover{
	background: none;
	border: 2px rgba(8,193,223,0.45) solid;
	transition: 1s;
}
.red{
	color:gold;
	background: none;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}
a{
	background: none;
}